body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #c0c0c0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 65px; 
}

h2 {
    color: #20b2aa;
    margin: 5px;
    padding: 12px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

li {
    list-style: none;
    display: inline-block;
}

nav {
    flex-grow: 1;
    text-align: right;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
    font-size: large;
    color: #ff7f50;  
    transform: scale(1.1);
}

.login-btn {
    background-color: #f39c12;
    color: #ffffff;
    padding: 10px 20px;
    border: 3px solid grey;
    border-radius: 30px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
}

.login-btn:hover {
    background-color: #c0c0c0;
    transform: scale(1.1);
}

.login-btn:active {
    transform: scale(0.95);
}

/* Contact Section */
.contact-section {
    padding: 60px 20px;
    background-color: #1e1e1e;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f39c12;
}

.contact-section p {
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #d3d3d3;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    text-align: left;
}

.input-group label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #ffffff;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    outline: none;
    border-color: #f39c12;
}

.submit-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #f39c12;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: underline #f39c12;
}

.submit-btn:hover {
    background-color: #e67e22;
    transform: scale(1.05);
}

.submit-btn:active {
    transform: scale(0.95);
}